.content-wrapper, .right-side
  min-height: 60rem

iframe
  width: 100%
ul
  padding: 0
  margin: 0

.navbar
  border: 0
  border-radius: 0
  .navbar-form
    border: 0
.footer-nav
  height: 250px
// h1,h2,h3,h4,h5
//   color: #808080
.navbar-inverse
  .navbar-toggle
    background-color: transparent
    border-color: transparent


button 
  outline: none

#md-profile-toggle 
  font-weight: bold
  color: rgba(255,255,255,0.8)
  padding-top: 15px
  padding-bottom: 15px
  line-height: 20px
  position: relative
  display: block
  padding: 10px 15px
#md-profile-toggle i 
  margin: 5px
#users .banned, #users .unban 
  float: right


button 
	margin: 0
	padding: 0
	border: 0
	background: none
	font-size: 100%
	vertical-align: baseline
	font-family: inherit
	color: inherit
	-webkit-appearance: none
	/*-moz-appearance: none*/
	-ms-appearance: none
	-o-appearance: none
	appearance: none
.content
  min-height: 885px !important
  overflow: scroll
.main-header
  max-height: 1000px !important
  position: fixed !important
  top: 0
  width: 100%
  overflow: hidden
#main-wrapper
  margin-top: 50px
